{{ ansible_managed | comment }}

# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port {{ ssh_server_port }}
# Use these options to restrict which interfaces/protocols sshd will bind to
{% for listen_address in ssh_server_listen_address %}
ListenAddress {{ listen_address }}
{% endfor %}
Protocol {{ ssh_server_protocol }}
# HostKeys for protocol version 2
{% for ssh_server_host_key in ssh_server_host_keys %}
{% if ssh_server_host_key != '' %}
HostKey {{ ssh_server_host_key }}
{% endif %}
{% endfor %}
{% if ssh_server_version is version('7.5', '<') %}
# Privilege Separation is turned on for security
UsePrivilegeSeparation {{ ssh_server_use_privilege_separation | bool | ternary('yes', 'no') }}
{% endif %}

{% if ssh_server_version is version('7.4', '<') %}
# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval {{ ssh_server_key_regeneration_interval }}
ServerKeyBits {{ ssh_server_server_key_bits }}
{% endif %}

# Logging
SyslogFacility {{ ssh_server_syslog_facility }}
LogLevel {{ ssh_server_log_level }}

# Authentication:
LoginGraceTime {{ ssh_server_login_grace_time }}
PermitRootLogin {{ ssh_server_permit_root_login }}
StrictModes {{ ssh_server_strict_modes | bool | ternary('yes', 'no') }}

{% if ssh_server_version is version('7.4', '<') %}
RSAAuthentication {{ ssh_server_rsa_authentication | bool | ternary('yes', 'no') }}
{% endif %}
PubkeyAuthentication {{ ssh_server_pubkey_authentication | bool | ternary('yes', 'no') }}
AuthorizedKeysFile {{ ssh_server_authorized_keys_file }}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ ssh_server_ignore_rhosts | bool | ternary('yes', 'no') }}
{% if ssh_server_version is version('7.4', '<') %}
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication {{ ssh_server_rhosts_rsa_authentication | bool | ternary('yes', 'no') }}
{% endif %}
# similar for protocol version 2
HostbasedAuthentication {{ ssh_server_hostbased_authentication | bool | ternary('yes', 'no') }}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
IgnoreUserKnownHosts {{ ssh_server_ignore_user_known_hosts | bool | ternary('yes', 'no') }}

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{ ssh_server_permit_empty_passwords | bool | ternary('yes', 'no') }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ ssh_server_challenge_response_authentication | bool | ternary('yes', 'no') }}

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{ ssh_server_password_authentication | bool | ternary('yes', 'no') }}

# Kerberos options
{% if ssh_server_kerberos_authentication is defined %}
KerberosAuthentication {{ ssh_server_kerberos_authentication | bool | ternary('yes', 'no') }}
{% endif %}
{% if ssh_server_kerberos_get_afs_token is defined %}
KerberosGetAFSToken {{ ssh_server_kerberos_get_afs_token | bool | ternary('yes', 'no') }}
{% endif %}
{% if ssh_server_kerberos_or_local_passwd is defined %}
KerberosOrLocalPasswd {{ ssh_server_kerberos_or_local_passwd | bool | ternary('yes', 'no') }}
{% endif %}
{% if ssh_server_kerberos_ticket_cleanup is defined %}
KerberosTicketCleanup {{ ssh_server_kerberos_ticket_cleanup | bool | ternary('yes', 'no') }}
{% endif %}

# GSSAPI options
{% if ssh_server_gssapi_authentication is defined %}
GSSAPIAuthentication {{ ssh_server_gssapi_authentication | bool | ternary('yes', 'no') }}
{% endif %}
{% if ssh_server_gssapi_cleanup_credentials is defined %}
GSSAPICleanupCredentials {{ ssh_server_gssapi_cleanup_credentials | bool | ternary('yes', 'no') }}
{% endif %}

X11Forwarding {{ ssh_server_x11_forwarding | bool | ternary('yes', 'no') }}
X11DisplayOffset {{ ssh_server_x11_display_offset }}
GatewayPorts {{ ssh_server_gateway_ports | bool | ternary('yes', 'no') }}
PrintMotd {{ ssh_server_print_motd | bool | ternary('yes', 'no') }}
PrintLastLog {{ ssh_server_print_last_log | bool | ternary('yes', 'no') }}
TCPKeepAlive {{ ssh_server_tcp_keep_alive | bool | ternary('yes', 'no') }}
{% if ssh_server_version is version('7.4', '<') %}
UseLogin {{ ssh_server_use_login | bool | ternary('yes', 'no') }}
{% endif %}

MaxSessions {{ ssh_server_max_sessions }}
MaxStartups {{ ssh_server_max_startups }}
Banner {{ ssh_server_banner }}

# Security options
{% if ssh_server_ciphers | default([]) | length %}
Ciphers {{ ssh_server_ciphers | join(',') }}
{% endif %}
{% if ssh_server_key_algorithms | default([]) | length %}
KexAlgorithms {{ ssh_server_key_algorithms | join(',') }}
{% endif %}
{% if ssh_server_macs | default([]) | length %}
MACs {{ ssh_server_macs | join(',') }}
{% endif %}

# Allow client to pass locale environment variables
AcceptEnv {{ ssh_server_accept_env }}

Subsystem {{ ssh_server_subsystem }}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ ssh_server_use_pam | bool | ternary('yes', 'no') }}

UseDNS {{ ssh_server_use_dns | bool | ternary('yes', 'no') }}

{% if ssh_server_allow_groups %}
AllowGroups {{ ssh_server_allow_groups | join(' ') }}
{% endif %}
{% if ssh_server_allow_users %}
AllowUsers {{ ssh_server_allow_users | join(' ') }}
{% endif %}
{% if ssh_server_deny_groups %}
DenyGroups {{ ssh_server_deny_groups | join(' ') }}
{% endif %}
{% if ssh_server_deny_users %}
DenyUsers {{ ssh_server_deny_users | join(' ') }}
{% endif %}
