# {{ ansible_managed }}

# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port {{ ssh_server_port }}
# Use these options to restrict which interfaces/protocols sshd will bind to
{% for listen_address in ssh_server_listen_address %}
ListenAddress {{ listen_address }}
{% endfor %}
Protocol {{ ssh_server_protocol }}
# HostKeys for protocol version 2
{% for ssh_server_host_key in ssh_server_host_keys %}
{% if ssh_server_host_key != '' %}
HostKey {{ ssh_server_host_key }}
{% endif %}
{% endfor %}
{% if ssh_server_version is version('7.5', '<') %}
# Privilege Separation is turned on for security
UsePrivilegeSeparation {{ 'yes' if ssh_server_use_privilege_separation else 'no' }}
{% endif %}

{% if ssh_server_version is version('7.4', '<') %}
# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval {{ ssh_server_key_regeneration_interval }}
ServerKeyBits {{ ssh_server_server_key_bits }}
{% endif %}

# Logging
SyslogFacility {{ ssh_server_syslog_facility }}
LogLevel {{ ssh_server_log_level }}

# Authentication:
LoginGraceTime {{ ssh_server_login_grace_time }}
PermitRootLogin {{ ssh_server_permit_root_login }}
StrictModes {{ 'yes' if ssh_server_strict_modes else 'no' }}

{% if ssh_server_version is version('7.4', '<') %}
RSAAuthentication {{ 'yes' if ssh_server_rsa_authentication else 'no' }}
{% endif %}
PubkeyAuthentication {{ 'yes' if ssh_server_pubkey_authentication else 'no' }}
AuthorizedKeysFile {{ ssh_server_authorized_keys_file }}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ 'yes' if ssh_server_ignore_rhosts else 'no' }}
{% if ssh_server_version is version('7.4', '<') %}
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication {{ 'yes' if ssh_server_rhosts_rsa_authentication else 'no' }}
{% endif %}
# similar for protocol version 2
HostbasedAuthentication {{ 'yes' if ssh_server_hostbased_authentication else 'no' }}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
IgnoreUserKnownHosts {{ 'yes' if ssh_server_ignore_user_known_hosts else 'no' }}

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{ 'yes' if ssh_server_permit_empty_passwords else 'no' }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ 'yes' if ssh_server_challenge_response_authentication else 'no' }}

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{ 'yes' if ssh_server_password_authentication else 'no' }}

# Kerberos options
{% if ssh_server_kerberos_authentication is defined %}
KerberosAuthentication {{ 'yes' if ssh_server_kerberos_authentication else 'no' }}
{% endif %}
{% if ssh_server_kerberos_get_afs_token is defined %}
KerberosGetAFSToken {{ 'yes' if ssh_server_kerberos_get_afs_token else 'no' }}
{% endif %}
{% if ssh_server_kerberos_or_local_passwd is defined %}
KerberosOrLocalPasswd {{ 'yes' if ssh_server_kerberos_or_local_passwd else 'no' }}
{% endif %}
{% if ssh_server_kerberos_ticket_cleanup is defined %}
KerberosTicketCleanup {{ 'yes' if ssh_server_kerberos_ticket_cleanup else 'no' }}
{% endif %}

# GSSAPI options
{% if ssh_server_gssapi_authentication is defined %}
GSSAPIAuthentication {{ 'yes' if ssh_server_gssapi_authentication else 'no' }}
{% endif %}
{% if ssh_server_gssapi_cleanup_credentials is defined %}
GSSAPICleanupCredentials {{ 'yes' if ssh_server_gssapi_cleanup_credentials else 'no' }}
{% endif %}

X11Forwarding {{ 'yes' if ssh_server_x11_forwarding else 'no' }}
X11DisplayOffset {{ ssh_server_x11_display_offset }}
GatewayPorts {{ 'yes' if ssh_server_gateway_ports else 'no' }}
PrintMotd {{ 'yes' if ssh_server_print_motd else 'no' }}
PrintLastLog {{ 'yes' if ssh_server_print_last_log else 'no' }}
TCPKeepAlive {{ 'yes' if ssh_server_tcp_keep_alive else 'no' }}
{% if ssh_server_version is version('7.4', '<') %}
UseLogin {{ 'yes' if ssh_server_use_login else 'no' }}
{% endif %}

MaxSessions {{ ssh_server_max_sessions }}
MaxStartups {{ ssh_server_max_startups }}
Banner {{ ssh_server_banner }}

# Security options
{% if ssh_server_ciphers | default([]) | length %}
Ciphers {{ ssh_server_ciphers | join(',') }}
{% endif %}
{% if ssh_server_key_algorithms | default([]) | length %}
KexAlgorithms {{ ssh_server_key_algorithms | join(',') }}
{% endif %}
{% if ssh_server_macs | default([]) | length %}
MACs {{ ssh_server_macs | join(',') }}
{% endif %}

# Allow client to pass locale environment variables
AcceptEnv {{ ssh_server_accept_env }}

Subsystem {{ ssh_server_subsystem }}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ 'yes' if ssh_server_use_pam else 'no' }}

UseDNS {{ 'yes' if ssh_server_use_dns else 'no' }}

{% if ssh_server_allow_groups %}
AllowGroups {{ ssh_server_allow_groups | join(' ') }}
{% endif %}
{% if ssh_server_allow_users %}
AllowUsers {{ ssh_server_allow_users | join(' ') }}
{% endif %}
{% if ssh_server_deny_groups %}
DenyGroups {{ ssh_server_deny_groups | join(' ') }}
{% endif %}
{% if ssh_server_deny_users %}
DenyUsers {{ ssh_server_deny_users | join(' ') }}
{% endif %}
